:root{
    --logo-button-iris:#4D5AE5;
    --navy-blu:#2E2F42;
    --slate-text:#434455;
    --WHITE--text:#FFFFFF;
--logo-text-coloud:#F4F4FD;
--button-ocean:#404BBF;
--background-color-navyblu:#2E2F42;
--background-color-green:#31d0aa;
}

body{ 
   
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
line-height: 2;
color: var(--slate-text);
background:var(--WHITE--text);
}
/*+++++++++++++++++++++++++++++++++++++ header */

.logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-button-iris);
}
.logo:hover,
.logo:focus{
    color: var(--button-ocean);
}
.logo-text {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--navy-blu);
}
.logo-text:hover,
.logo-text:focus {
color: var(--navy-blu);
}

.title-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navy-blu);
}
.title-text:hover,
.title-text:focus {
    color: var(--button-ocean);
}
.link {
    text-decoration: none;
}
.list {
   list-style : none;
}
.title-link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-text);
}
.title-link:hover,
.title-link:focus {
    color: var(--button-ocean);
}

/*  ====================================перша секція */

.title-slogan {
    font-family: 'Roboto';
   margin-top: 0;
    margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
 text-align: center;
letter-spacing: 0.02em;
color: var(--WHITE--text);
  
}
.button-text {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--WHITE--text);
background-color: var(--logo-button-iris);
cursor: pointer;
margin-right: auto;
  margin-left: auto;
}
.button-text:hover,
.button-text:focus {
color:var(--WHITE--text);
background-color: var(--button-ocean);
}
/* hid-title */
.title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blu);

}
.title-wrap {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blu);

}
.item {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-text);
margin-bottom: 8px;
}
.item-wrap {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-text);
}

/* ===================================================секція 2 */
.text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--navy-blu);
}
/* ====================================================секція 3  */
.section-three {
    background-color:var(--logo-text-coloud);
}
.imeg-wrap {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
    background-color: var(--WHITE--text);
}
/* ================================================================footer */
.footer {
    background-color: var(--background-color-navyblu);
}


.logo-link {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-button-iris);
}
.logo-link:hover,
.logo-link:focus{
    color: var(--button-ocean);
}

.logo-item {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase ;
color: var(--logo-text-coloud);

}

.items {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--logo-text-coloud);

}
/* ===========================portfoglio */
.buttons {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--logo-button-iris);
background-color: var(--logo-text-coloud);
cursor: pointer;
border: none;
}
.buttons:hover,
.buttons:focus {
    color: var(--WHITE--text);
    background-color: var(--button-ocean);
}
/* ============================================================= */
.box {
    display: flex;
    
}
.container {
   
 width: 1158px;
  margin:0 auto;
  padding: 0 15px ;
  
}
h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
.header {
   

  border-bottom: 1px solid #e7e9fc ;
    padding-top: 25px;
    padding-bottom: 25px;
}

.item-logo {
    display: flex;
    align-items: center;
}
.list-nav {
    display: flex;
   gap: 40px;
   list-style: none;
   
}
.logo {
    margin-right: 76px;

}

.list-header {
list-style : none;
}
.aside {
     margin-left: auto;
    
}
.list-header {
display: flex;
gap: 40px;
}


  

 .hero {
 background-color: var(--background-color-navyblu);
   padding-top: 188px;
   padding-bottom: 188px;
 }
   
   

.title-slogan {
  
    max-width: 496px;
    
}
.button-text {
display: block;

min-width: 169px;
  height: 56px ;
  border:  none; 
  
  
  border-radius: 4px;
}

/* section 2*/

.wrapper {
  
 
    padding-top: 120px;
    padding-bottom: 120px;

}
.list-text {
   
 display: flex;
    /* gap: 24px;  */
    list-style: none;
}
.list-text li{
    margin-right: 24px;
  }
  .list-text li:last-child{
    margin-right: 0;
  }

 
.list-item {
      width: calc((100% - 72px) / 4);
}
.title {
    margin-bottom: 8px;
}


/* секція 3 */
.imagess {
    padding-bottom: 120px;
}
.text {
    display: flex;
   justify-content: center;
   margin-bottom: 72px;
}
.list {
    display: flex;
    gap: 24px;
}
.img {
     width: calc((100% - 48px) / 3); 
}
 
/* section 4 */
.section-three {
   padding-top: 120px;
   padding-bottom: 120px;
}
.text {
    margin-bottom: 72px;
}
.list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.imeg-wrap {
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}
.propostion {
    padding: 32px 16px 32px;
  text-align: center;
}
.title {
    
    margin-bottom: 8px;
}

/*  fotter */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;

}
.logo-link {
   display: inline-block;
    margin-bottom: 16px; 
}

.items {
    
     max-width: 264px; 
}
/* portdoglio */

.menu-button {
    padding-top: 96px;
    padding-bottom: 120px;
   
}
.list-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
     margin-bottom: 72px;
     list-style:none ;
      
}
.buttons {
    padding: 12px 24px;
border: 1px solid #E7E9FC;
background:var(--logo-text-coloud);
border-radius: 4px;


}
.buttons:hover,
.buttons:focus {
     border: 1px solid transparent;
    
}


.list-cards {
display: flex;
flex-wrap: wrap;
 column-gap: 24px;
 row-gap: 48px;
 list-style: none;

}
.imeg-list {
width: calc((100% - 48px) / 3);
}
.imeg-list:hover,
.imeg-list:focus{
    border: 1px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
}
.list-imege {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
   
    border-top: none; 
}
.title-wrap {
    margin-bottom: 8px;
}
.link-img {
    text-decoration: none;
}

/* ========================================hom-work4 */
.hero {
  
  text-align: center;
 

  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../imagess/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
  
}
.svg-icon {
    display: flex;
    justify-content: center;
    background: var(--logo-text-coloud);
    border-radius: 4px;
    margin-bottom: 8px;

}
.svg-link {
display: flex;
justify-content: center;
list-style : none;
gap: 24px;

}
.link-social {
    width: 40px;
    height: 40px;
}
.social-link-list {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-button-iris);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-link-list:hover,
 .social-link-list:focus {
background-color:var(--background-color-green) ;
}
.wrap {
    fill: var(--logo-text-coloud);
}
/*  section 5  */
.section-five {
    margin-top: 120px;
    margin-bottom: 120px;
}
.custumers {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--background-color-navyblu);
margin-bottom: 72px;
}
.produckts {
    display: flex;
    justify-content: center;
    list-style : none;
    gap: 24px;
}
.publick {
     
    width: calc((100% - 120px) / 6);
      height: 88px;  


}
.adv {
     width: 100%;
    height: 100%; 
    border: 1px solid #8E8F99;
   
border-radius: 4px;
display: flex;
align-items: center; 
justify-content: center;
color: var(--button-ocean);
}
.promo {
     fill: #8e8f99;
}

.adv:hover,
.adv:focus {
    color: var(--button-ocean);
    border-color: var(--button-ocean);
}
.promo:hover,
.promo:focus {
    fill:var(--button-ocean) ;
}

/* fooootter +++++++++++++++++++++++++++++++ */
.media {
  
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--WHITE--text);
margin-bottom: 16px;
}
.text-wrap {
    margin-right: 120px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.link-scocial-svg {
    display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  gap: 16px;
}
.link-link-social {
    width: 40px;
    height: 40px;
}
.media-social {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--button-ocean);
    display: flex;
    justify-content: center;
}
.media-social:hover,
 .media-social:focus {
background-color: var(--background-color-green);
}
.wrap-social {
    fill: var(--logo-text-coloud);
}

